body {
  margin: 0;
  background-color: #ddd;
  font-family: 'Roboto Slab', serif;
}

.content {
  padding: 0;
  background-color: #ffffff;
  margin: 32px auto 32px;
  max-width: 900px;
  width: 95%;
  border: 1px solid black;
  box-shadow: 4px 4px darkgray;
  line-height: 1.5em;
  text-align: justify;
}

.inner-content {
  padding: 0 4em 2em;
}

h1 {
  position: relative;
  padding: 1.5em 0 1em;
  text-align: center;
}

h1.site-header {
  letter-spacing: 0.25em;
  margin-bottom: 0;
  padding-bottom: 0;
}

h2 {
  padding: 0.5em 0 0;
}

li {
  padding-bottom: 0.75em;
}

form {
  display: table;
  width: 100%;
}

form p {
  display: table-row;
}

form label {
  display: table-cell;
  padding-right: 0.5em;
  width: 1%;
  white-space: nowrap;
}

form select,input[type=text] {
  display: table-cell;
  width: 100%;
}

form input[type=text] {
  font-family: monospace;
}

.contact-list {
  margin: 0.5em 0 2.5em;
  text-align: center;
}

.contact-list a {
  padding: 0 0.5em 0;
}

.flower-table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 14px;
}

.flower-table td,th {
  border: 1px solid #f5f5f5;
  text-align: left;
  padding: 0.5em;
}

.flower-table tr:nth-child(even) {
  background-color: #f5f5f5;
}

.flower-table img {
  width: 32px;
  height: 32px;
  vertical-align: middle;
}
